*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1{
  color: whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.292);
}

label, input, select{
  margin-bottom: 15px;
}

input, select{
  border-radius: 5px;
  border: none;
  padding: 5px;
  color: white;
  background-color: #000000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.result{
  font-size: large;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: all 0.2s ease-in-out;
}

.result:hover{
  transform: translateY(-10px);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.292);
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #000000;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.66) 0%, rgba(255, 255, 255, 1) 100%);
}

.UI{
  background-color: rgba(255, 255, 255, 0.277);
  padding: 50px;
  border-radius: 15px;
  border: 1px solid rgba(128, 128, 128, 0.182);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.292);
}

#moneyInput, #exchangeTo, #exchangeFrom{
  width: 100%;
}

#exchangeToAmount{
  color: rgb(146, 247, 171);
}
